
@{
    ViewData["Title"] = "TestEmployee";
    Layout = "~/Views/shared/_Layout1.cshtml";
}

<h2>I'm an Employee</h2>
<a href="/Login/TestManager"> check if you are a manager</a>

<a href="/Login/TestApprover"> check if you are a approver</a>

