
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}
@if (ViewBag.Error == null)
{
<form class="form-horizontal" method="post">
    <input type="hidden" value="@ViewContext.RouteData.Values["id"]" name="Guid" id="Guid"/>
    <div class="form-group">

        <label class="control-label col-sm-offset-4 col-sm-2" for="Password">Enter the new password:</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="NewPassword" name="NewPassword">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-6 col-sm-6">
            <button type="button" id="changepassword" class="btn btn-primary">Change Password</button>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="successModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert alert-success" role="alert">Your password has been changed successfully.</div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="/Login/SignIn">SignIn</a>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="errorModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert alert-danger" role="alert">Something wend wrong. Please try forgot password again.</div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="/ForgotPassword/Index">Forgot Password</a>
            </div>
        </div>

    </div>
</div>
}
else
{
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
    <div class="col-sm-offset-3 col-sm-6">
        <a class="btn btn-primary" href="/ForgotPassword/Index">I want to go to forgot password</a>&nbsp; &nbsp;
        <a class="btn btn-primary" href="/Login/SignIn">I want to try signing in</a>
    </div>
}
<script type="text/javascript" src="~/js/changepassword.js"></script>