<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Management - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

    <div id="heading" class="jumbotron">
        <div class="container text-center">
            <h1>Employee Mangement System</h1>
            <p>Manage Leaves, Travel plans & claims</p>
        </div>
    </div>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-sm-2">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/ApprovedPretravelClaim/Index">Approved PreTravel Claims</a></li>
                    <li><a href="/PretravelClaim/Index">Add TravelClaim</a></li>
                    <li><a href="/TravelClaimApprover/Index">Add TravelClaim</a></li>
                    <li><a href="/Login/SignOut">Sign Out</a></li>
                </ul>
            </div>
            <div class="col-sm-10">
                @RenderBody()
            </div>
        }
        else
        {
            @RenderBody()
        }
    </div>
</body>
</html>