header#logo {
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
}

#heading {
    padding-top: 0px;
    padding-bottom: 0px;
}

.sidemenu {
    width: 100%;
}

.aligncenter {
    text-align: center
}
